html { scroll-behavior: smooth; }
#footer-spacer { margin-bottom: 120px; }

.button[accesskey]::after {
  content: attr(accesskey);
  color: #000;
  background-color: rgb(206, 206, 206);
  padding: 0 6px;
  margin-left: 12px;
  border-radius: 4px;
}

#view-options { gap: 12px;}
#is-reversed-el #is-reversed-val { display: none;}
#is-reversed-el #is-reversed-val + label::before { font-family: FontAwesome; margin-right: 6px; }
#is-reversed-el #is-reversed-val + label::before { content: "\f160"; }
#is-reversed-el #is-reversed-val:checked + label::before { content: "\f161"; }
#is-reversed-el #is-reversed-val:checked + label {
  background-color: var(--bulma-primary);
}

.b-card {
  border: 1px solid #fff;
  border-radius: 12px 12px 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: all 0.4s ease-in-out;
  backdrop-filter: blur( 12px );
  border-bottom: none;
}
.controls { position: fixed; left: 0; bottom: 0; width: 100%; z-index: 9; }
.controls .recorder { transform: translateY(0%); }
.controls .multi-action { transform: translateY(100%); }
#pause-btn, #resume-btn, #stop-btn, #main-content .timer { display: none; }
#main-content .timer { font-size: 122px; text-shadow: 0 0 12px #000; }
#main-content .card-footer { filter: blur(0); transition: all 1s ease-in-out; }

#main-content:has(.recording-card-selector:checked) .controls .recorder { transform: translateY(100%); }
#main-content:has(.recording-card-selector:checked) .controls .multi-action { transform: translateY(0%); }
#main-content:has(.recording-card-selector:checked) .card-footer { filter: blur(3px); pointer-events: none; }

/* #video-playback { max-height: 80vh; max-width: 100%; margin: 0 auto; } */
#playback-modal .modal-close { background-color: var(--bulma-primary); z-index: 1; }

.new-tag::after {
  content: "";
  position: absolute;
  right: -100%;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  transform: skewX(-30deg);
  animation: wave 1.5s infinite ease-in-out;
}
.new-tag::before { content: "NEW"; position: relative; z-index: 1; }
.new-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--bulma-primary);
  color: #000;
  padding: 0 14px;
  border-radius: 4px;
  overflow: hidden;
  font-size: 10px;
}
@keyframes wave {
  0% { left: -100%; }
  100% { left: 200%; }
}

#recordings .recording-wrapper:hover { transform: translateY(-2px); }
#recordings .recording-wrapper { transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55); }
#recordings .recording-wrapper .card { height: 100%; transition: all 0.3s ease; }
#recordings .recording-wrapper .recording-card-selector:checked+.card { transform: scale(0.9); }
#recordings .recording-wrapper .recording-card-selector:checked+.card::after {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--bulma-primary);
  display: grid;
  place-content: center;
  content: "✔️";
  z-index: 10;
}

.faqs .message { height: 100%; display: flex; flex-direction: column; }
#recordings .column .card .card-content, .faqs .column .message-body { height: 100%; }

/* Footer links */
.links { display: flex; flex-wrap: wrap; padding: 1rem 0; position: relative; width: 100%; }
.links a { padding: 0.7rem 1.5rem; text-decoration: none; font-size: 12px; width: 100%; flex-basis: 50%; transition: all 0.5s ease; }
.links a:hover { background-color: #fff; color: #000; }
 

/**
 * alertifyjs 1.14.0 http://alertifyjs.com
 * AlertifyJS is a javascript framework for developing pretty browser dialogs and notifications.
 * Copyright 2024 Mohammad Younes <Mohammad@alertifyjs.com> (http://alertifyjs.com) 
 * Licensed under GPL 3 <https://opensource.org/licenses/gpl-3.0>*/
.alertify .ajs-dialog { background-color: var(--bulma-scheme-main) !important; box-shadow: 0 15px 20px 0 rgba(0, 0, 0, .25); border-radius: 0.75rem !important; overflow: hidden; }
.alertify .ajs-header { color: var(--bulma-text) !important; background-color: var(--bulma-scheme-main) !important; font-weight: 700; border-bottom: var(--bulma-text) 1px solid; border-radius: 2px 2px 0 0; }
.alertify .ajs-body { color: var(--bulma-text) !important; }
.alertify .ajs-body .ajs-content .ajs-input { display: block; width: 100%; padding: 8px; margin: 4px; border-radius: 2px; border: 1px solid var(--bulma-text); color: var(--bulma-text); background-color: var(--bulma-scheme-main ); }
.alertify .ajs-body .ajs-content p { margin: 0; }
.alertify .ajs-footer { color: var(--bulma-text) !important; background-color: var(--bulma-scheme-main) !important; border-top: var(--bulma-text) 1px solid; border-radius: 0 0 2px 2px; }
.alertify .ajs-footer .ajs-buttons .ajs-button { background-color: transparent; color: var(--bulma-text); border: 0; font-size: 14px; font-weight: 700; text-transform: uppercase; }
.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok { color: #000; background-color: var(--bulma-primary); border-radius: var(--bulma-radius); }
.alertify-notifier .ajs-message { background: var(--bulma-info) !important; color: #000; border-radius: 0.75rem; }
.alertify-notifier .ajs-message.ajs-success { background: var(--bulma-success) !important; }
.alertify-notifier .ajs-message.ajs-error { background: var(--bulma-danger) !important; }
.alertify-notifier .ajs-message.ajs-warning { background: var(--bulma-warning) !important; }
.alertify-notifier .ajs-message .ajs-close { border-radius: 50%; background-color: var(--bulma-link) !important; padding: 12px; }