html { scroll-behavior: smooth; }

footer {
  margin-bottom: 120px;
}

.overflow-hidden { overflow:  hidden; }

.controls-wrapper {
  padding: 32px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur( 1px );
}

.extreme-blur-animation {
  animation-name: bluranimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
}

@keyframes bluranimation {
  from { backdrop-filter: blur( 1px ); background-color: rgba(0,0,0,0.5); }
  to { backdrop-filter: blur( 14px ); background-color: rgba(0,0,0,1); }
}

.controls { display: flex; gap: 16px; }

#pause-btn,
#resume-btn,
#stop-btn {
  display: none;
}

#video-playback {
  max-height: 80vh;
  max-width: 100%;
  margin: 0 auto;
}

#recordings .rec-title {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap-mode: nowrap;
}
#recordings .rec-title::before {
  content: '🎥';
  display: block;
}
.recording { position: relative; }
#recordings .size::before { content: '📦'; padding-right: 6px; }
#recordings .time::before { content: '🕰️'; padding-right: 6px; }

#recordings .column .card { transition: all 0.3s ease; cursor: pointer; }
#recordings .column input[type=checkbox]:checked + .card { transform: scale(0.9); opacity: 0.4; }

#delete-multiple {
  width: 100%;
  backdrop-filter: blur(15px);
  position: fixed;
  top:0;
  left: 0;
  z-index: 9;
  transform: translateY(-100%);
  transition: all 1s ease;
}

#main-content:has(input[type=checkbox]:checked) #delete-multiple { transform: translateY(0%); }

/* Footer links */
.links {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  position: relative;
  width: 100%;
}

.links a {
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  font-size: 12px;
  width: 100%;
  flex-basis: 50%;
  transition: all 0.5s ease;
}

.links a:hover {
  background-color: #fff;
  color: #000;
}