html { scroll-behavior: smooth; }
#footer-spacer { margin-bottom: 120px; }
.overflow-hidden { overflow:  hidden; }
.controls-wrapper {
  user-select: none;
  padding: 32px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  transform: translateY(0%);
  transition: all 1s ease-in-out;
}
.controls { display: flex; gap: 16px; }
.timer { font-size: 132px; text-align: center; display: none; }

#pause-btn,
#resume-btn,
#stop-btn {
  display: none;
}

#video-playback {
  max-height: 80vh;
  max-width: 100%;
  margin: 0 auto;
}

#recordings .rec-title {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap-mode: nowrap;
}
#recordings .rec-title::before {
  content: '🎥';
  display: block;
}
.recording { position: relative; }
.new-tag::after {
  content: "";
  position: absolute;
  right: -100%;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  transform: skewX(-30deg);
  animation: wave 1.5s infinite ease-in-out;
}
.new-tag::before { content: "NEW"; position: relative; z-index: 1; }
.new-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--bulma-primary);
  color: #000;
  padding: 0 14px;
  border-radius: 4px;
  overflow: hidden;
  font-size: 10px;
}
@keyframes wave {
  0% { left: -100%; }
  100% { left: 200%; }
}
#recordings .size::before { content: '📦'; padding-right: 6px; }
#recordings .time::before { content: '🕰️'; padding-right: 6px; }

#recordings .column .card { transition: all 0.3s ease; cursor: pointer; position: relative; animation-name: fadeIn; animation-timeline: view(0 20%); filter: blur(10px); }
#recordings .column input[type=checkbox]:checked + .card { transform: scale(0.9); }
#recordings .column input[type=checkbox]:checked + .card::after {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--bulma-primary);
  display: grid;
  place-content: center;
  content: "✔️";
  z-index: 10;
}

@keyframes fadeIn {
  0% { filter: blur(10px); }
  40% { filter: blur(0px); }
  100% { filter: blur(0px); }
}

/* .recording, .content > *, article.column .message { animation-name: fadeIn; animation-timeline: view(); } */

#delete-multiple {
  width: 100%;
  backdrop-filter: blur(15px);
  position: fixed;
  bottom:0;
  left: 0;
  z-index: 9;
  transform: translateY(100%);
  transition: all 1s ease-in-out;
}

#delete-multiple > div {
  display: flex;
  gap: 16px;
}

#delete-multiple > div button { width: 100%; }

#main-content:has(input[type=checkbox]:checked) #delete-multiple { transform: translateY(0%); }
#main-content:has(input[type=checkbox]:checked) .controls-wrapper { transform: translateY(100%); }

.faqs .message {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.faqs .column .message-body {
  height: 100%;
}



/* Footer links */
.links {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  position: relative;
  width: 100%;
}

.links a {
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  font-size: 12px;
  width: 100%;
  flex-basis: 50%;
  transition: all 0.5s ease;
}

.links a:hover {
  background-color: #fff;
  color: #000;
}